:root {
  /* Color Palette */
  --white: #fff;
  --warm-white: #dbd0ca;
  --burnt-orange: #b26e35;
  --burnt-brown: #895620;
  --warm-dark-grey: #80705f;
  --dark-green: #46412c;
  --warm-black: #242321;
  --black: #000;

  /* Spacing */
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  line-height: 1.2;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  line-height: 1.2;
}
